<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://thymeleaf.org">
<!--标题栏-->
<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>王湘宇的首页</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/cl-css.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/railscasts.css}">
    <link rel="stylesheet" th:href="@{/css/style-search.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

</head>
<body>
<!--头部栏-->
<div th:insert="~{commons/commons::topbar}"></div>


<div class="cl-cantainer container">
    <div class="row">
        <div class="col-md-9 cl-left">
            <div th:each="msg:${message}" class="cl-artical-content">
                <h2 th:text="${msg.getM_title()}" class="cl-artical-title"></h2>
                <div class="cl-card-tag">
                    <div><span th:text="${msg.getM_views()}"></span>人浏览 / <span th:text="${count}"></span>人评论</div>
                </div>
                <div class="cl-artical">
                    <p th:text="${msg.getM_content()}"></p>
                    <p><img th:src="@{/img/cxcy.jpg}" alt=""></p>
                </div>
            </div>
            <div class="comment">
                <form th:action="@{/leave/}+${message.getM_id()}" class="cl-comment-from">
                    <div>
                        <textarea placeholder="说点什么吧..." rows="1" name="content"></textarea>
                    </div>
                    <button type="submit">留言</button>
                    <span class="clearfix"></span>
                </form>

                <h4 class="right-card-title">全部评论</h4>
                <div th:each="lea:${leave}"  class="comment-panel">
                        <div class="comment-panel-portrait">
                            <img th:src="@{/img/portrait.png}" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="comment-panel-content">
                            <div class="comment-panel-content-item">
                                <div th:text="${lea.getU_name()}"  class="comment-author"></div>
                                <div th:text="${lea.getL_time()}" ></div>
                            </div>
                            <div th:text="${lea.getL_content()}" class="comment-panel-content-main"></div>
                        </div>
                        <span class="clearfix"></span>
                        <div class="text-primary"><a href="">回复</a></div>
                </div>

            </div>

        </div>

        <!--右边菜单栏-->
        <div class="col-md-3 cl-right" >
            <div th:insert="~{commons/commons::right-2}"></div>
            <div th:insert="~{commons/commons::right-2}"></div>
        </div>
    </div>
</div>

<!--底部栏-->
<div th:insert="~{commons/commons::bottom}"></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/highlight.pack.js}"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
